<header class="animated fadeInDown" id="itm-header">
  <nav class="navbar" id="navbar">
    <!-- logo -->
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="assets/img/itm-logo.png" height="30" width="30" >
      </a>
    </div>
  </nav>

  <div style="text-align:center" [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
      Welcome to {{ title }}!
  </div>
  <button>mixin styles</button>

  <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a> 
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/demo" routerLinkActive="active">Demo</a>
    <a routerLink="/login" routerLinkActive="active">Login</a> 
    <a routerLink="/product" routerLinkActive="active">Product</a> 
  </nav>
</header>