
<div class="well" *ngIf="authService.getUser()">
Logged in as <b> {{ authService.getUser() }}</b>
<a href (click)="logout()">Logout</a>
</div>
<div>

  <form class="form-inline" *ngIf="!authService.getUser()">
    <div class="form-group">
      <label for="username">User: (type <em>user</em>)</label>
      <input class="form-control" name="username" #username>
    </div>

    <div class="form-group">
        <label for="password">Password: (type <em>password</em>)</label>
        <input class="form-control" name="password" type="password" #password>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="message">
      {{ message }}
    </div>
    <a class="btn btn-default" (click)="login(username.value, password.value)">Submit</a>
  </form>

</div>
