@import '../../../styles/config';
@import '../../../styles/buttons';

button {
  @extend .btn;
  background-color: blue;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #bebebe;
}